@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');:root {
    --primary : #6f85ff;
    --success : #00dd50;
    --danger : #f52d2A;
    --warning : #fbe51b;
    --background-primary : #141b41;
    --background-secondary : #15191d;
    --background-gray : #3e446a;
    --text : #e2e2e2;
    --white : #ffffff;
    --floating : #1de5ce;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.divider{
    height: 1px;
    background-color: var(--background-secondary);
    margin: 0.5rem 0rem;
}
/* AVATARS */
.avatar{
    width: 30px;
    border-radius: 100%;
}
.avatar-2x {
    width: 45px;
}
.avatar-3x{
    width: 55px;
}
/* ALERTS */
.alert {
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 1rem;
    color: var(--white);
    font-weight: bold;
}
.alert-primary{
    background-color: var(--primary);
}
.alert-success{
    background-color: var(--success);
}
.alert-danger{
    background-color: var(--danger);
}
.alert-warning{
    background-color: var(--warning);
    color: black;
}
/* BUTTON */
.btn{
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    font-family: inherit;
    border-radius: 0.7rem;
    border-style: none;
    cursor: pointer;
    margin: 0.5rem;
    outline: none;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--white);
}
.btn-primary-success{
    background-color: var(--success);
    color: var(--white);
}
.btn-primary-warning{
    background-color: var(--warning);
    color: black;
}
.btn-primary-danger{
    background-color: var(--danger);
    color: var(--white);
}   
.btn-secondary{
    color: var(--primary);
    border: 0.5px solid var(--primary);
    background-color: var(--white);
}
.btn-secondary:hover{
    background-color: var(--primary);
    color: var(--white);
}
.btn-secondary-success{
    color: var(--success);
    border: 0.5px solid var(--success);
    background-color: var(--white);
}
.btn-secondary-success:hover{
    background-color: var(--success);
    color : var(--white);
}
.btn-secondary-warning{
    color: var(--warning);
    border: 0.5px solid var(--warning);
    background-color: var(--white);
}
.btn-secondary-warning:hover{
    background-color: var(--warning);
    color: black;
}
.btn-secondary-danger{
    color: var(--danger);
    border: 0.5px solid var(--danger);
    background-color: var(--white);
}
.btn-secondary-danger:hover{
    background-color: var(--danger);
    color: white;
}
/* LINKS */
.link{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5rem;
}
.link-primary{
    color: var(--danger);
}
.link-primary:hover{
    text-decoration: underline;
}
.link-secondary{
    color: var(--text);
}
.link-secondary:hover{
    text-decoration: underline;
}
/* ICONS and FLOATING ACTION BUTTON */
.floating-action{
    padding: 0.3rem 0.4rem;
    border-radius: 100%;
    border-style: none;
    background-color: var(--floating);
    outline: none;
}
/* BADGE */
.badge{
    background-color: var(--background-gray);
    font-size: 0.7em;
}
.badge-pills{
    background-color: var(--background-gray);
    border-radius: 2rem;
    font-size: 0.7em;
    padding: 2px 6px;
}
.badge-primary{
    background-color: var(--primary);
    color: var(--white);
}
.badge-success{
    background-color: var(--success);
    color : var(--white);
}
.badge-warning{
    background-color: var(--warning);
    color: black;
}
.badge-danger{
    background-color: var(--danger);
    color: var(--white);
}
/* CARDS*/
.card{
    display: flex;
    flex-direction: column;
    margin: 0rem 0.6rem;
}
.card__header{
    margin: 1rem 0rem;
}
.card__body__container{
    background-color: var(--white);
}
.card__body{
   font-size: 0.9rem;
   line-height: 1.3; 
}
.card__with__badge{
    position: relative;
}
.card__badge{
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 0.5rem 1rem;
}
.card__with__dismiss{
    position: relative;
}
.card__dismiss{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 6px;
    background-color: var(--white);
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
}
.card__text{
    max-width: 350px;
}
.card__horizontal{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}
.card__horizontal__img{
    flex-grow: 2;
    margin-right: 0.5rem;
}
.card__shadow{
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
/* IMAGES */
.image__responsive{
    width: 100%;
    height: auto;
}
.rounded__image{
    border-radius: 50%;
}
/* INPUT */
.inputText{
    padding: 0.5rem 0.2rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    outline: none;
    border-color: var(--background-secondary);  
    width: 100%;
    transition: all 0.25s ease-out;
}
.inputText:focus{
    border-color: var(--primary);
}
.input-textArea {
    padding: 0.5rem 0.2rem;
    width: 100%;
    border: 2px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    outline: none;
    border-color: var(--background-secondary);
    resize: none;
    transition: all 0.25s ease-out;
}
.input-textArea:focus{
    border-color: var(--primary);
}
.input-textArea::-webkit-scrollbar{
    display: none;
}
.error{
    border-color: var(--danger);
    color: red;
}
.error:focus{
    border-color: var(--danger);
}
.error__message{
    color: var(--danger);
}